.black-eagles {
    background-color: lightcoral;
}

.blue-lions {
    background-color: skyblue;
}

.golden-deers {
    background-color: gold;
}

.church {
    background-color: lightgray;
}

.knights {
    background-color: #eeeeee;
}