body {
    background-color: lightgreen;
}

.title {
    text-align: center;
}

.search-form {
    text-align: center;
}

.search-form form input {
    font-size: 1.5rem;
    border: none;
    padding: 0.25rem;
}

.search-form form input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card {
    background-color: white;
    margin: 1rem 1rem;
    border-radius: 0.2rem;
    /*border: grey solid 1px;*/
    display: inline-block;
    vertical-align:top;
    box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.1);
}

.card .title {
    padding: 0.5rem;
    font-weight: bold;
}

.card .content {
    padding: 0.25rem;
}

.card .content div {
    margin: 0.5rem 0.25rem;
}

.character .title.black-eagles {
    background-color: lightcoral;
}

.character .title.blue-lions {
    background-color: skyblue;
}

.character .title.golden-deers {
    background-color: gold;
}

.character .title.church {
    background-color: lightgray;
}

.character .title.knights {
    background-color: #eeeeee;
}

.item .title {
    background-color: #373737;
    color: white;
}

.card .item {
    margin-left: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: grey solid 1px;
    display: inline-block;
}

.likes .item {
    background-color: lightpink;
}

.dislikes .item {
    background-color: lightgray;
}

.lost .item {
    background-color: lightskyblue;
}

.character .attributes div {
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}