<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Fire Emblem Three Houses</title>
    </head>
    <body>
        <h1 class="title">Fire Emblem Three Houses</h1>
        <div class="search-form">
            <form method="GET">
                <input id="search-query" name="query" value="{{query}}" autofocus/>
                <input type="submit" value="Search">
            </form>
        </div>
        {% for result in results %}
            {{result}}
        {% endfor %}
    </body>
</html>
<script type="application/javascript">
let input = document.getElementById('search-query');
input.focus();
input.select();
</script>